{% extends 'base.html.twig' %}

{% block title %}Mot de Passe oublié{% endblock %}

{% block body %}

       {% for message in app.flashes('danger') %}
         <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {{ form(form) }}
{% endblock %}