
{% extends 'base.html.twig' %}
 
{% block title %}Modifier Mot de Passe !{% endblock %}
 
{% block body %}
    <form method="post">
 
        <h1 class="h3 mb-3 font-weight-normal">Modifier le mot de passe</h1>
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="oldPassword" id="oldPassword" class="form-control" placeholder="Mot de passe actuel" required>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Nouveau mot de passe" required>
 

 
        <button class="btn btn-lg btn-primary" type="submit">
            Enregistrer
        </button>
    </form>
{% endblock %}