<form method="post" action="{{ path('souscripteur_delete', {'id': souscripteur.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ce souscripteur ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ souscripteur.id) }}">
    <button class="btn">Supprimer</button>
</form>
