{% extends 'base.html.twig' %}

{% block title %}Editer Beneficiaire{% endblock %}

{% block body %}
    <h1>Editer Beneficiaire</h1>

    {{ include('beneficiaire/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('beneficiaire_index') }}">Retour</a>

    {{ include('beneficiaire/_delete_form.html.twig') }}
{% endblock %}
