{% extends 'base.html.twig' %}

{% block title %}Nouveau Bénéficiaire{% endblock %}

{% block body %}
    <h1>Ajouter un Bénéficiaire</h1>

    {{ include('beneficiaire/_form.html.twig') }}
    <input type="button" value="page précédente" onclick="javascript:history.back()">
{% endblock %}
