{% extends 'base.html.twig' %}

{% block title %}Edit Listing{% endblock %}

{% block body %}
    <h1>Edit Listing</h1>

    {{ include('listing/form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('listing_index') }}">Retour</a>

    {{ include('listing/delete_form.html.twig') }}
{% endblock %}
