
<h1> {{listing.nom}}</h1>
<h2> Listing du : {{listing.dateEnvoi ? listing.dateEnvoi|date('d-m-Y') : ''}}</h2>
<h2> Par {{listing.intermediaire.nom}}</h2>
<h2> Email de contact : {{listing.intermediaire.email}}</h2>
